# App
APP_NAME=BAMIMI
NODE_TLS_REJECT_UNAUTHORIZED=0
NODE_ENV=development
APP_HOST=localhost
APP_PORT=3000
APP_CLUSTER_NUMBER=1
APP_ASSET=http://localhost:3000
APP_URL=http://localhost:3000
# UV_THREADPOOL_SIZE=6
SOCKET_APP_PORT=3001


# Auth
COOKIE_SECRET=
SESSION_SECRET=
TOKEN_SOCKET=
SECRET_KEY=
REFRESH_TOKEN_SECRET_KEY=
CORS_ADDRESS_FAMILY=

# Config DB
DB_TYPE=sql
DB_CONNECTION=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=db_user
DB_PASSWORD=db_password
DB_DATABASE=db

# Config Cache
CACHE_DRIVER=redis
REDIS_CACHE_HOST=localhost
REDIS_CACHE_PORT=6379
REDIS_CACHE_USER=
REDIS_CACHE_PASS=
REDIS_CACHE_DB=0
REDIS_CACHE_TLS=

# Config Queue
REDIS_QUEUE_HOST=localhost
REDIS_QUEUE_PORT=6379
REDIS_QUEUE_USER=
REDIS_QUEUE_PASS=
REDIS_QUEUE_DB=1
REDIS_QUEUE_TLS=

# Config log
LOG_REQUEST=false

# Config file
FILE_OPTION=local